In [1]:
from cleanData._ftToSingleEvent import singularFT
import pandas as pd
import numpy as np
import sqlite3 as sql
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'ncaa'

In [33]:
df = pd.read_sql("""
                 SELECT * FROM "2017-2018" LIMIT 1000
                 """, sql.connect('ncaa_pbp.db'), index_col='EventID')

In [34]:
df = singularFT(df)

In [35]:
toKeep = df[df['ftCode'] >= 0]['ElapsedSeconds']
df = df[df['ElapsedSeconds'].isin(toKeep)]

In [36]:
df = df[(df['LPoints'] > 0) |
        (df['WPoints'] > 0) |
        (df['ftCode'].isin([0, 1]))]
df = df[~df['ftCode'].isin([2, 3, 4, 5])]
df = df[['Season', 'DayNum', 'WTeamID', 'LTeamID', 'ElapsedSeconds', 'EventType', 'ftCode']]

In [37]:
ft = df[df['ftCode'] >= 0]
shots = df[~df.index.isin(ft.index)]

In [38]:
df

          Season  DayNum  WTeamID  LTeamID  ElapsedSeconds   EventType  ftCode
EventID
27543280    2018      11     1104     1272              86  made2_jump     NaN
27543298    2018      11     1104     1272             171  miss1_free     0.0
27543300    2018      11     1104     1272             171   made2_lay     NaN
27543351    2018      11     1104     1272             358  miss1_free     0.0
27543375    2018      11     1104     1272             413  miss1_free     0.0
27543377    2018      11     1104     1272             413  made2_jump     NaN
27543382    2018      11     1104     1272             454  made1_free     8.0
27543452    2018      11     1104     1272             761  miss1_free     0.0
27543456    2018      11     1104     1272             777  miss1_free     0.0
27543488    2018      11     1104     1272             897  miss1_free     0.0
27543490    2018      11     1104     1272             897   made2_lay     NaN
27543537    2018      11     1104     1272            1118  miss1_free     0.0
27543663    2018      11     1104     1272            1826  miss1_free     0.0
27543665    2018      11     1104     1272            1826  made2_jump     NaN
27543686    2018      11     1104     1272            1910   made2_lay     NaN
27543687    2018      11     1104     1272            1910  made1_free     1.0
27543694    2018      11     1104     1272            1956  miss1_free     0.0
27543696    2018      11     1104     1272            1956   made2_lay     NaN
27543762    2018      11     1104     1272            2207  miss1_free     0.0
27543851    2018      11     1107     1233             272   made2_lay     NaN
27543861    2018      11     1107     1233             326  miss1_free     0.0
27543869    2018      11     1107     1233             326   made2_lay     NaN
27543949    2018      11     1107     1233             813  miss1_free     0.0
27543955    2018      11     1107     1233             813   made2_lay     NaN
27544063    2018      11     1107     1233            1404  made2_dunk     NaN
27544078    2018      11     1107     1233            1485  made1_free     1.0
27544148    2018      11     1107     1233            1906   made2_lay     NaN
27544149    2018      11     1107     1233            1906  made1_free     1.0
27544204    2018      11     1107     1233            2255   made2_lay     NaN
27544205    2018      11     1107     1233            2255  made1_free     1.0
27544211    2018      11     1107     1233            2290  made1_free     1.0

In [130]:
df = shots.reset_index().set_index(['WTeamID', 'LTeamID', 'ElapsedSeconds', 'Season', 'DayNum']).\
    join(ft.reset_index().set_index(['WTeamID', 'LTeamID', 'ElapsedSeconds', 'Season', 'DayNum']), rsuffix='_ft')

In [131]:
df.reset_index(inplace=True)
df.set_index('EventID', inplace=True)

In [132]:
df = df[['EventType', 'ftCode_ft', 'EventID_ft', 'EventType_ft']]

In [133]:
df.dropna(inplace=True)

In [134]:
df['EventType'] = df['EventType'] + '_' + df['ftCode_ft'].apply(str)
toDrop = df['EventID_ft']
df.rename(columns={'ftCode_ft': 'ftCode'}, inplace=True)
df = df[['EventType', 'ftCode']]

In [135]:
orig = pd.read_sql("""
                 SELECT * FROM "2017-2018" LIMIT 1000
                 """, sql.connect('ncaa_pbp.db'), index_col='EventID')

In [136]:
orig = orig[~orig.index.isin(toDrop)]

and1 = orig[orig.index.isin(df.index)]
orig = orig[~orig.index.isin(df.index)]

and1['ftCode'] = df['ftCode']
and1['EventType'] = df['EventType']

In [142]:
df = orig.append(and1)
df.sort_index(inplace=True)

In [143]:
df

,DayNum,ElapsedSeconds,EventPlayerID,EventTeamID,EventType,LPoints,LTeamID,Season,WPoints,WTeamID,ftCode,index
EventID,,,,,,,,,,,,
27543273,11,15,648148,1104,assist,0,1272,2018,0,1104,NaN,0
27543274,11,15,648149,1104,made3_jump,0,1272,2018,3,1104,NaN,1
27543275,11,39,650613,1272,turnover,0,1272,2018,0,1104,NaN,2
27543276,11,43,648156,1104,miss2_jump,0,1272,2018,0,1104,NaN,3
27543277,11,43,648148,1104,reb_off,0,1272,2018,0,1104,NaN,4
27543278,11,47,648148,1104,made2_dunk,0,1272,2018,5,1104,NaN,5
27543279,11,76,648146,1104,foul_pers,0,1272,2018,0,1104,NaN,6
27543280,11,86,650607,1272,made2_jump,2,1272,2018,5,1104,NaN,7
27543281,11,103,650620,1272,steal,0,1272,2018,0,1104,NaN,8
27543282,11,103,648148,1104,turnover,0,1272,2018,0,1104,NaN,9
27543283,11,116,650620,1272,turnover,0,1272,2018,0,1104,NaN,10
27543284,11,117,648149,1104,steal,0,1272,2018,0,1104,NaN,11
27543285,11,120,650609,1272,foul_pers,0,1272,2018,0,1104,NaN,12
27543286,11,120,648152,1104,made1_free,2,1272,2018,6,1104,NaN,13
27543287,11,120,648152,1104,made1_free,2,1272,2018,7,1104,NaN,14
27543288,11,131,648156,1104,foul_pers,0,1272,2018,0,1104,NaN,15
27543289,11,144,648156,1104,foul_pers,0,1272,2018,0,1104,NaN,16
27543290,11,144,648151,1104,sub_in,0,1272,2018,0,1104,NaN,17
27543291,11,144,648156,1104,sub_out,0,1272,2018,0,1104,NaN,18
27543292,11,158,650607,1272,assist,0,1272,2018,0,1104,NaN,19
27543293,11,158,650620,1272,made2_jump,4,1272,2018,7,1104,NaN,20
27543294,11,166,650617,1272,block,0,1272,2018,0,1104,NaN,21
27543295,11,166,648152,1104,miss2_jump,0,1272,2018,0,1104,NaN,22
27543296,11,168,650613,1272,reb_def,0,1272,2018,0,1104,NaN,23
27543297,11,171,648148,1104,foul_pers,0,1272,2018,0,1104,NaN,24
27543299,11,171,648148,1104,reb_def,0,1272,2018,0,1104,NaN,26
27543300,11,171,650613,1272,made2_lay_0.0,6,1272,2018,7,1104,0.0,27
27543301,11,186,648146,1104,foul_pers,0,1272,2018,0,1104,NaN,28
27543302,11,186,648157,1104,sub_in,0,1272,2018,0,1104,NaN,29
27543303,11,186,648146,1104,sub_out,0,1272,2018,0,1104,NaN,30
...,...,...,...,...,...,...,...,...,...,...,...,...
27544243,11,2389,648203,1107,made1_free,64,1233,2018,67,1107,NaN,970
27544244,11,2391,650052,1233,timeout,0,1233,2018,0,1107,NaN,971
27544245,11,2393,648200,1107,foul_pers,0,1233,2018,0,1107,NaN,972
27544246,11,2393,648196,1107,sub_in,0,1233,2018,0,1107,NaN,973
27544247,11,2393,650043,1233,sub_in,0,1233,2018,0,1107,NaN,974
27544248,11,2393,650041,1233,sub_out,0,1233,2018,0,1107,NaN,975
27544249,11,2393,650048,1233,made1_free,65,1233,2018,67,1107,NaN,976
27544250,11,2393,650048,1233,made1_free,66,1233,2018,67,1107,NaN,977
27544251,11,2395,650040,1233,foul_pers,0,1233,2018,0,1107,NaN,978
27544252,11,2395,650041,1233,sub_in,0,1233,2018,0,1107,NaN,979
27544253,11,2395,650042,1233,sub_out,0,1233,2018,0,1107,NaN,980
27544254,11,2395,648203,1107,made1_free,66,1233,2018,68,1107,NaN,981
27544255,11,2395,648203,1107,made1_free,66,1233,2018,69,1107,NaN,982
27544256,11,2398,648204,1107,foul_pers,0,1233,2018,0,1107,NaN,983
27544257,11,2398,650046,1233,miss1_free,0,1233,2018,0,1107,NaN,984
27544258,11,2398,648204,1107,reb_def,0,1233,2018,0,1107,NaN,985
27544259,11,2398,650042,1233,sub_in,0,1233,2018,0,1107,NaN,986
27544260,11,2398,648194,1107,sub_out,0,1233,2018,0,1107,NaN,987
27544261,11,2398,650041,1233,sub_out,0,1233,2018,0,1107,NaN,988
27544262,11,2398,650046,1233,made1_free,67,1233,2018,69,1107,NaN,989
27544263,11,16,648260,1112,assist,0,1319,2018,0,1112,NaN,990
27544264,11,16,648265,1112,made2_lay,0,1319,2018,2,1112,NaN,991
27544265,11,35,651306,1319,made2_jump,2,1319,2018,2,1112,NaN,992
27544266,11,50,651309,1319,foul_pers,0,1319,2018,0,1112,NaN,993
27544267,11,50,648256,1112,made1_free,2,1319,2018,3,1112,NaN,994
27544268,11,50,648256,1112,made1_free,2,1319,2018,4,1112,NaN,995
27544269,11,63,651315,1319,miss2_jump,0,1319,2018,0,1112,NaN,996
27544270,11,63,651315,1319,reb_off,0,1319,2018,0,1112,NaN,997
27544271,11,68,651315,1319,made2_lay,4,1319,2018,4,1112,NaN,998
27544272,11,73,651309,1319,foul_pers,0,1319,2018,0,1112,NaN,999