In [8]:
import pandas as pd
import numpy as np
import sqlite3 as sql

conn = sql.connect("ncaa_pbp.db")

df = pd.read_sql("""
                SELECT
                    *
                From
                    "2017-2018"
                Limit
                    1000
                 """, conn)

In [11]:
df['previous'] = df['EventType'].shift(1)
df['isAssisted'] = df['previous'] == 'assist'

In [13]:
df.drop('previous', inplace=True, axis=1)

In [16]:
df['prevID'] = df['EventPlayerID'].shift(1)

In [18]:
df['test'] = df[df['isAssisted']]['prevID']

In [20]:
df['prevID'] = df['test']
df.drop('test', axis=1, inplace=True)

In [21]:
df

,index,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,isAssisted,prevID
0,0,27543273,2018,11,1104,1272,0,0,15,1104,648148,assist,False,NaN
1,1,27543274,2018,11,1104,1272,3,0,15,1104,648149,made3_jump,True,648148.0
2,2,27543275,2018,11,1104,1272,0,0,39,1272,650613,turnover,False,NaN
3,3,27543276,2018,11,1104,1272,0,0,43,1104,648156,miss2_jump,False,NaN
4,4,27543277,2018,11,1104,1272,0,0,43,1104,648148,reb_off,False,NaN
5,5,27543278,2018,11,1104,1272,5,0,47,1104,648148,made2_dunk,False,NaN
6,6,27543279,2018,11,1104,1272,0,0,76,1104,648146,foul_pers,False,NaN
7,7,27543280,2018,11,1104,1272,5,2,86,1272,650607,made2_jump,False,NaN
8,8,27543281,2018,11,1104,1272,0,0,103,1272,650620,steal,False,NaN
9,9,27543282,2018,11,1104,1272,0,0,103,1104,648148,turnover,False,NaN
10,10,27543283,2018,11,1104,1272,0,0,116,1272,650620,turnover,False,NaN
11,11,27543284,2018,11,1104,1272,0,0,117,1104,648149,steal,False,NaN
12,12,27543285,2018,11,1104,1272,0,0,120,1272,650609,foul_pers,False,NaN
13,13,27543286,2018,11,1104,1272,6,2,120,1104,648152,made1_free,False,NaN
14,14,27543287,2018,11,1104,1272,7,2,120,1104,648152,made1_free,False,NaN
15,15,27543288,2018,11,1104,1272,0,0,131,1104,648156,foul_pers,False,NaN
16,16,27543289,2018,11,1104,1272,0,0,144,1104,648156,foul_pers,False,NaN
17,17,27543290,2018,11,1104,1272,0,0,144,1104,648151,sub_in,False,NaN
18,18,27543291,2018,11,1104,1272,0,0,144,1104,648156,sub_out,False,NaN
19,19,27543292,2018,11,1104,1272,0,0,158,1272,650607,assist,False,NaN
20,20,27543293,2018,11,1104,1272,7,4,158,1272,650620,made2_jump,True,650607.0
21,21,27543294,2018,11,1104,1272,0,0,166,1272,650617,block,False,NaN
22,22,27543295,2018,11,1104,1272,0,0,166,1104,648152,miss2_jump,False,NaN
23,23,27543296,2018,11,1104,1272,0,0,168,1272,650613,reb_def,False,NaN
24,24,27543297,2018,11,1104,1272,0,0,171,1104,648148,foul_pers,False,NaN
25,25,27543298,2018,11,1104,1272,0,0,171,1272,650613,miss1_free,False,NaN
26,26,27543299,2018,11,1104,1272,0,0,171,1104,648148,reb_def,False,NaN
27,27,27543300,2018,11,1104,1272,7,6,171,1272,650613,made2_lay,False,NaN
28,28,27543301,2018,11,1104,1272,0,0,186,1104,648146,foul_pers,False,NaN
29,29,27543302,2018,11,1104,1272,0,0,186,1104,648157,sub_in,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,970,27544243,2018,11,1107,1233,67,64,2389,1107,648203,made1_free,False,NaN
971,971,27544244,2018,11,1107,1233,0,0,2391,1233,650052,timeout,False,NaN
972,972,27544245,2018,11,1107,1233,0,0,2393,1107,648200,foul_pers,False,NaN
973,973,27544246,2018,11,1107,1233,0,0,2393,1107,648196,sub_in,False,NaN
974,974,27544247,2018,11,1107,1233,0,0,2393,1233,650043,sub_in,False,NaN
975,975,27544248,2018,11,1107,1233,0,0,2393,1233,650041,sub_out,False,NaN
976,976,27544249,2018,11,1107,1233,67,65,2393,1233,650048,made1_free,False,NaN
977,977,27544250,2018,11,1107,1233,67,66,2393,1233,650048,made1_free,False,NaN
978,978,27544251,2018,11,1107,1233,0,0,2395,1233,650040,foul_pers,False,NaN
979,979,27544252,2018,11,1107,1233,0,0,2395,1233,650041,sub_in,False,NaN
980,980,27544253,2018,11,1107,1233,0,0,2395,1233,650042,sub_out,False,NaN
981,981,27544254,2018,11,1107,1233,68,66,2395,1107,648203,made1_free,False,NaN
982,982,27544255,2018,11,1107,1233,69,66,2395,1107,648203,made1_free,False,NaN
983,983,27544256,2018,11,1107,1233,0,0,2398,1107,648204,foul_pers,False,NaN
984,984,27544257,2018,11,1107,1233,0,0,2398,1233,650046,miss1_free,False,NaN
985,985,27544258,2018,11,1107,1233,0,0,2398,1107,648204,reb_def,False,NaN
986,986,27544259,2018,11,1107,1233,0,0,2398,1233,650042,sub_in,False,NaN
987,987,27544260,2018,11,1107,1233,0,0,2398,1107,648194,sub_out,False,NaN
988,988,27544261,2018,11,1107,1233,0,0,2398,1233,650041,sub_out,False,NaN
989,989,27544262,2018,11,1107,1233,69,67,2398,1233,650046,made1_free,False,NaN
990,990,27544263,2018,11,1112,1319,0,0,16,1112,648260,assist,False,NaN
991,991,27544264,2018,11,1112,1319,2,0,16,1112,648265,made2_lay,True,648260.0
992,992,27544265,2018,11,1112,1319,2,2,35,1319,651306,made2_jump,False,NaN
993,993,27544266,2018,11,1112,1319,0,0,50,1319,651309,foul_pers,False,NaN
994,994,27544267,2018,11,1112,1319,3,2,50,1112,648256,made1_free,False,NaN
995,995,27544268,2018,11,1112,1319,4,2,50,1112,648256,made1_free,False,NaN
996,996,27544269,2018,11,1112,1319,0,0,63,1319,651315,miss2_jump,False,NaN
997,997,27544270,2018,11,1112,1319,0,0,63,1319,651315,reb_off,False,NaN
998,998,27544271,2018,11,1112,1319,4,4,68,1319,651315,made2_lay,False,NaN
999,999,27544272,2018,11,1112,1319,0,0,73,1319,651309,foul_pers,False,NaN