In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [27]:
conn = sql.connect("ncaa_pbp.db")

df = pd.read_sql("""
                SELECT
                    EventID, WTeamID, LTeamID, EventType, EventTeamID
                From
                    "2017-2018"
                Where
                    EventType LIKE "%2%" OR
                    EventType LIKE "%3%" OR
                    EventType = "turnover"
                 """, conn)

In [28]:
def match_to_sbsq(df, cols_to_shift, cols_to_match):
    df.sort_values(by=['EventTeamID', 'EventID'], inplace=True)
    for col in cols_to_shift:
        df['next_'+col] = df[col].shift(-1)
    df.dropna(inplace=True)
    
    #for col in cols_to_match:
    #    df = df[df[col] == df['next_'+col]]
        
    return df

In [29]:
df = match_to_sbsq(df, ['WTeamID', 'LTeamID', 'EventTeamID'], ['WTeamID', 'LTeamID', 'EventTeamID'])
source = df['EventType']
df

,EventID,WTeamID,LTeamID,EventType,EventTeamID,next_WTeamID,next_LTeamID,next_EventTeamID
26460,27632519,1117,1101,miss3_jump,1101,1117.0,1101.0,1101.0
26461,27632521,1117,1101,turnover,1101,1117.0,1101.0,1101.0
26463,27632525,1117,1101,miss2_jump,1101,1117.0,1101.0,1101.0
26465,27632530,1117,1101,made2_lay,1101,1117.0,1101.0,1101.0
26468,27632535,1117,1101,miss3_jump,1101,1117.0,1101.0,1101.0
26470,27632539,1117,1101,miss2_jump,1101,1117.0,1101.0,1101.0
26473,27632548,1117,1101,made2_jump,1101,1117.0,1101.0,1101.0
26476,27632563,1117,1101,miss3_jump,1101,1117.0,1101.0,1101.0
26478,27632566,1117,1101,turnover,1101,1117.0,1101.0,1101.0
26480,27632578,1117,1101,turnover,1101,1117.0,1101.0,1101.0
26481,27632585,1117,1101,miss3_jump,1101,1117.0,1101.0,1101.0
26483,27632600,1117,1101,turnover,1101,1117.0,1101.0,1101.0
26485,27632604,1117,1101,miss3_jump,1101,1117.0,1101.0,1101.0
26487,27632608,1117,1101,made3_jump,1101,1117.0,1101.0,1101.0
26489,27632616,1117,1101,miss2_lay,1101,1117.0,1101.0,1101.0
26491,27632628,1117,1101,miss3_jump,1101,1117.0,1101.0,1101.0
26492,27632643,1117,1101,turnover,1101,1117.0,1101.0,1101.0
26494,27632647,1117,1101,miss2_dunk,1101,1117.0,1101.0,1101.0
26495,27632649,1117,1101,miss2_jump,1101,1117.0,1101.0,1101.0
26499,27632664,1117,1101,miss2_lay,1101,1117.0,1101.0,1101.0
26501,27632669,1117,1101,miss3_jump,1101,1117.0,1101.0,1101.0
26504,27632686,1117,1101,made2_lay,1101,1117.0,1101.0,1101.0
26506,27632688,1117,1101,miss3_jump,1101,1117.0,1101.0,1101.0
26507,27632700,1117,1101,turnover,1101,1117.0,1101.0,1101.0
26510,27632716,1117,1101,made3_jump,1101,1117.0,1101.0,1101.0
26512,27632719,1117,1101,made2_lay,1101,1117.0,1101.0,1101.0
26514,27632727,1117,1101,miss3_jump,1101,1117.0,1101.0,1101.0
26516,27632731,1117,1101,made2_lay,1101,1117.0,1101.0,1101.0
26517,27632741,1117,1101,turnover,1101,1117.0,1101.0,1101.0
26519,27632744,1117,1101,made2_lay,1101,1117.0,1101.0,1101.0
...,...,...,...,...,...,...,...,...
717097,29907771,1156,1464,miss2_jump,1464,1156.0,1464.0,1464.0
717098,29907773,1156,1464,made2_tip,1464,1156.0,1464.0,1464.0
717099,29907782,1156,1464,made2_lay,1464,1156.0,1464.0,1464.0
717102,29907787,1156,1464,miss3_jump,1464,1156.0,1464.0,1464.0
717104,29907790,1156,1464,made2_lay,1464,1156.0,1464.0,1464.0
717106,29907804,1156,1464,miss3_jump,1464,1156.0,1464.0,1464.0
717108,29907813,1156,1464,turnover,1464,1156.0,1464.0,1464.0
717110,29907817,1156,1464,made3_jump,1464,1156.0,1464.0,1464.0
717112,29907822,1156,1464,made3_jump,1464,1156.0,1464.0,1464.0
717114,29907830,1156,1464,made3_jump,1464,1156.0,1464.0,1464.0
717116,29907836,1156,1464,miss2_lay,1464,1156.0,1464.0,1464.0
717117,29907838,1156,1464,miss3_jump,1464,1156.0,1464.0,1464.0
717119,29907842,1156,1464,miss3_jump,1464,1156.0,1464.0,1464.0
717120,29907844,1156,1464,miss2_lay,1464,1156.0,1464.0,1464.0
717122,29907854,1156,1464,miss3_jump,1464,1156.0,1464.0,1464.0
717123,29907856,1156,1464,made2_tip,1464,1156.0,1464.0,1464.0
717125,29907862,1156,1464,turnover,1464,1156.0,1464.0,1464.0
717127,29907865,1156,1464,miss2_lay,1464,1156.0,1464.0,1464.0
717128,29907867,1156,1464,made2_tip,1464,1156.0,1464.0,1464.0
717130,29907875,1156,1464,miss2_jump,1464,1156.0,1464.0,1464.0
717132,29907883,1156,1464,miss2_lay,1464,1156.0,1464.0,1464.0
717136,29907905,1156,1464,made2_lay,1464,1156.0,1464.0,1464.0
717139,29907915,1156,1464,turnover,1464,1156.0,1464.0,1464.0
717142,29907921,1156,1464,made2_lay,1464,1156.0,1464.0,1464.0
717143,29907929,1156,1464,made2_lay,1464,1156.0,1464.0,1464.0
717144,29907933,1156,1464,miss2_lay,1464,1156.0,1464.0,1464.0
717147,29907938,1156,1464,miss3_jump,1464,1156.0,1464.0,1464.0
717148,29907944,1156,1464,miss3_jump,1464,1156.0,1464.0,1464.0
717150,29907948,1156,1464,turnover,1464,1156.0,1464.0,1464.0
717151,29907956,1156,1464,made3_jump,1464,1156.0,1464.0,1464.0

In [16]:
source

14        miss2_jump
45        miss3_jump
46          turnover
49        made3_jump
80         made2_lay
117       miss3_jump
126       miss2_jump
145       miss3_jump
156       miss2_jump
171        miss2_lay
172        made2_lay
175        made2_lay
182         turnover
193        made2_lay
198        made2_lay
217        made2_lay
294        made2_lay
339       miss3_jump
344       miss2_jump
371       miss3_jump
374       made2_jump
377       miss2_jump
378        made2_lay
409       made2_dunk
412        miss2_lay
413        made2_tip
420         turnover
494        miss2_lay
533       miss3_jump
534       miss3_jump
             ...
774717     made2_tip
774718      turnover
774727     made2_lay
774730    miss3_jump
774733     miss2_lay
774738    miss2_jump
774789    miss3_jump
774812    miss2_jump
774821     miss2_lay
774822    made2_jump
774823    miss2_jump
774824    miss3_jump
774855     made2_tip
774886    miss3_jump
774899    miss3_jump
774900    miss2_jump
774905    miss2_jump
774914     made2_lay
774921    made3_jump
774922    made2_jump
774979     miss2_lay
775000    miss3_jump
775023      turnover
775042     made2_lay
775049    miss3_jump
775050    miss2_jump
775051     made2_tip
775084      turnover
775087    miss2_jump
775090      turnover
Name: EventType, Length: 45773, dtype: object