In [3]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import warnings
warnings.filterwarnings('ignore')

conn = sql.connect("ncaa_pbp.db")
df = pd.read_sql("""
                SELECT
                    EventID, ElapsedSeconds, EventType
                From
                    "2016-2017"
                Where
                    EventType = "made1_free" or
                    EventType = "miss1_free"
                Limit
                    1000
                 """, conn, index_col='EventID')

In [4]:
temp = df.shift(1)
temp = temp.join(df, lsuffix='_prev')
temp = temp.join(df.shift(-1), rsuffix='_2')
temp = temp.join(df.shift(-2), rsuffix='_3')
df = temp

In [5]:
df = df[(df['ElapsedSeconds_prev'] != df['ElapsedSeconds'])]

df.drop(['ElapsedSeconds_prev', 'EventType_prev'], axis=1, inplace=True)

In [6]:
df['EventType'] = df['EventType'] == 'made1_free'
df['EventType_2'] = df['EventType_2'] == 'made1_free'
df['EventType_3'] = df['EventType_3'] == 'made1_free'

In [7]:
df[(df['EventType']) & (~df['EventType_2'])]

,ElapsedSeconds,EventType,ElapsedSeconds_2,EventType_2,ElapsedSeconds_3,EventType_3
EventID,,,,,,
20434759,633,True,736.0,False,736.0,True
20435576,2260,True,2360.0,False,2379.0,True
20436315,767,True,894.0,False,894.0,True
20436910,1020,True,1119.0,False,1119.0,True
20437132,1958,True,2009.0,False,2009.0,True
20437566,1454,True,1533.0,False,1556.0,True
20437719,2049,True,2147.0,False,2147.0,True
20438202,1861,True,1963.0,False,2008.0,False
20438476,985,True,1057.0,False,1228.0,False
20438964,1159,True,1674.0,False,1733.0,True
20440344,2243,True,2330.0,False,2330.0,True
20441057,846,True,867.0,False,997.0,False
20441230,1667,True,1684.0,False,1784.0,False
20441266,1813,True,1870.0,False,2058.0,True
20442126,997,True,1036.0,False,1498.0,True
20442259,1742,True,1823.0,False,1896.0,True
20442294,1896,True,1994.0,False,2077.0,False
20442402,2346,True,283.0,False,522.0,True
20442839,2256,True,2356.0,False,2356.0,True
20444795,1244,True,1415.0,False,1415.0,True
20444875,1575,True,1824.0,False,1895.0,False
20445092,154,True,361.0,False,361.0,True
20446038,2199,True,2219.0,False,2219.0,True
20446507,1929,True,2112.0,False,2112.0,True
20446803,989,True,1018.0,False,1019.0,True
20447002,1730,True,NaN,False,NaN,False

In [8]:
oneFT = df[(df['ElapsedSeconds'] != df['ElapsedSeconds_2']) &
           (df['ElapsedSeconds'] != df['ElapsedSeconds_3'])]
twoFT = df[(df['ElapsedSeconds'] == df['ElapsedSeconds_2']) &
           (df['ElapsedSeconds'] != df['ElapsedSeconds_3'])]
threeFT = df[(df['ElapsedSeconds'] == df['ElapsedSeconds_2']) &
           (df['ElapsedSeconds'] == df['ElapsedSeconds_3'])]
oneFT.drop(oneFT.columns[2:], axis=1, inplace=True)
twoFT.drop(twoFT.columns[4:], axis=1, inplace=True)
threeFT.drop(threeFT.columns[6:], axis=1, inplace=True)

In [9]:
_0_1 = twoFT[(~twoFT['EventType']) & (twoFT['EventType_2'])]
_1_1 = twoFT[(twoFT['EventType']) & (twoFT['EventType_2'])]
_0_0 = twoFT[(~twoFT['EventType']) & (~twoFT['EventType_2'])]
_1_0 = twoFT[(twoFT['EventType']) & (~twoFT['EventType_2'])]
_0 = oneFT[~oneFT['EventType']]
_1 = oneFT[oneFT['EventType']]
_0_0_0 = threeFT[(~threeFT['EventType']) & (~threeFT['EventType_2']) & (~threeFT['EventType_3'])]
_1_0_0 = threeFT[(threeFT['EventType']) & (~threeFT['EventType_2']) & (~threeFT['EventType_3'])]
_0_1_0 = threeFT[(~threeFT['EventType']) & (threeFT['EventType_2']) & (~threeFT['EventType_3'])]
_0_0_1 = threeFT[(~threeFT['EventType']) & (~threeFT['EventType_2']) & (threeFT['EventType_3'])]
_1_1_0 = threeFT[(threeFT['EventType']) & (threeFT['EventType_2']) & (~threeFT['EventType_3'])]
_1_0_1 = threeFT[(threeFT['EventType']) & (~threeFT['EventType_2']) & (threeFT['EventType_3'])]
_0_1_1 = threeFT[(~threeFT['EventType']) & (threeFT['EventType_2']) & (threeFT['EventType_3'])]
_1_1_1 = threeFT[(threeFT['EventType']) & (threeFT['EventType_2']) & (threeFT['EventType_3'])]

In [10]:
seqs = [_0, _1, _0_0, _1_0, _0_1, _1_1,   
    _0_0_0, _1_0_0, _0_1_0, _0_0_1, 
    _1_1_0, _1_0_1, _0_1_1, _1_1_1]
for i, data in enumerate(seqs):
    data['ftCode'] = i

In [11]:
finalDF = pd.concat(seqs)

In [12]:
set(finalDF['ftCode'])

{0, 1, 4, 5, 9, 12, 13}

In [13]:
from collections import Counter
Counter(list(zip(twoFT['EventType'], twoFT['EventType_2'])))

Counter({(True, True): 221, (False, True): 168})

In [32]:
original = pd.read_sql("""
                SELECT
                    *
                From
                    "2016-2017"
                Limit
                    1000
                 """, conn, index_col='EventID')
finalDF = finalDF['ftCode']

In [34]:
original['ftCode'] = finalDF

In [37]:
toRem = original[(original['EventType'] == 'made1_free') |
                (original['EventType'] == 'made1_free')]
toRem = toRem[~toRem.index.isin(finalDF.index)]

In [39]:
original = original[~original.index.isin(toRem.index)]

In [40]:
original

,index,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,ftCode
EventID,,,,,,,,,,,,
20434640,0,2017,11,1104,1157,0,0,0,1104,637419,sub_in,NaN
20434641,1,2017,11,1104,1157,0,0,15,1157,638145,foul_pers,NaN
20434642,2,2017,11,1104,1157,0,0,15,1157,638145,turnover,NaN
20434643,3,2017,11,1104,1157,0,0,26,1104,637423,assist,NaN
20434644,4,2017,11,1104,1157,3,0,26,1104,637420,made3_jump,NaN
20434645,5,2017,11,1104,1157,0,0,63,1157,638145,miss2_jump,NaN
20434646,6,2017,11,1104,1157,0,0,63,1104,637415,reb_def,NaN
20434647,7,2017,11,1104,1157,0,0,68,1104,637410,miss3_jump,NaN
20434648,8,2017,11,1104,1157,0,0,68,1157,638150,reb_def,NaN
20434649,9,2017,11,1104,1157,0,0,77,1104,637410,foul_pers,NaN
20434650,10,2017,11,1104,1157,0,0,82,1157,638155,foul_pers,NaN
20434651,11,2017,11,1104,1157,0,0,82,1157,638155,turnover,NaN
20434652,12,2017,11,1104,1157,0,0,96,1157,638156,foul_pers,NaN
20434653,13,2017,11,1104,1157,0,0,121,1104,637423,turnover,NaN
20434654,14,2017,11,1104,1157,0,0,136,1157,638156,turnover,NaN
20434655,15,2017,11,1104,1157,0,0,138,1104,637423,steal,NaN
20434656,16,2017,11,1104,1157,0,0,146,1104,637410,miss3_jump,NaN
20434657,17,2017,11,1104,1157,0,0,146,1157,638153,reb_def,NaN
20434658,18,2017,11,1104,1157,0,0,148,1104,637423,foul_pers,NaN
20434659,19,2017,11,1104,1157,0,0,165,1157,638156,miss2_jump,NaN
20434660,20,2017,11,1104,1157,0,0,166,1104,637423,reb_def,NaN
20434661,21,2017,11,1104,1157,0,0,177,1157,638155,foul_pers,NaN
20434662,22,2017,11,1104,1157,0,0,177,1157,638144,sub_in,NaN
20434663,23,2017,11,1104,1157,0,0,177,1157,638152,sub_in,NaN
20434664,24,2017,11,1104,1157,0,0,177,1157,638151,sub_out,NaN
20434665,25,2017,11,1104,1157,0,0,177,1157,638155,sub_out,NaN
20434666,26,2017,11,1104,1157,4,0,177,1104,637413,made1_free,5.0
20434668,28,2017,11,1104,1157,0,0,201,1157,638150,miss2_jump,NaN
20434669,29,2017,11,1104,1157,0,0,201,1157,638150,reb_off,NaN
20434670,30,2017,11,1104,1157,0,0,208,1157,638152,turnover,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
20435605,965,2017,11,1107,1336,0,0,2383,1107,637463,foul_pers,NaN
20435606,966,2017,11,1107,1336,0,0,2383,1336,640844,sub_in,NaN
20435607,967,2017,11,1107,1336,0,0,2383,1336,640837,sub_out,NaN
20435608,968,2017,11,1107,1336,82,77,2383,1336,640840,made1_free,13.0
20435611,971,2017,11,1107,1336,0,0,2385,1336,640844,foul_pers,NaN
20435612,972,2017,11,1107,1336,0,0,2385,1336,640837,sub_in,NaN
20435613,973,2017,11,1107,1336,0,0,2385,1336,640844,sub_out,NaN
20435614,974,2017,11,1107,1336,83,79,2385,1107,637465,made1_free,5.0
20435616,976,2017,11,1107,1336,0,0,2389,1336,640840,miss3_jump,NaN
20435617,977,2017,11,1107,1336,0,0,2389,1107,637463,reb_def,NaN
20435618,978,2017,11,1107,1336,0,0,2392,1336,640845,foul_pers,NaN
20435619,979,2017,11,1107,1336,0,0,2392,1107,637463,miss1_free,4.0
20435620,980,2017,11,1107,1336,0,0,2392,1107,637471,reb_dead,NaN
20435622,982,2017,11,1107,1336,0,0,2397,1336,640837,assist,NaN
20435623,983,2017,11,1107,1336,0,0,2397,1336,640842,sub_in,NaN
20435624,984,2017,11,1107,1336,0,0,2397,1336,640844,sub_in,NaN
20435625,985,2017,11,1107,1336,0,0,2397,1336,640847,sub_in,NaN
20435626,986,2017,11,1107,1336,0,0,2397,1336,640839,sub_out,NaN
20435627,987,2017,11,1107,1336,0,0,2397,1336,640845,sub_out,NaN
20435628,988,2017,11,1107,1336,0,0,2397,1336,640848,sub_out,NaN
20435629,989,2017,11,1107,1336,0,0,2397,1336,640846,timeout,NaN
20435630,990,2017,11,1107,1336,85,81,2397,1336,640848,made2_dunk,NaN
20435631,991,2017,11,1107,1336,0,0,2398,1336,640840,foul_pers,NaN
20435632,992,2017,11,1107,1336,86,81,2398,1107,637462,made1_free,5.0
20435634,994,2017,11,1112,1277,0,0,15,1277,639970,turnover,NaN
20435635,995,2017,11,1112,1277,0,0,34,1112,637525,turnover,NaN
20435636,996,2017,11,1112,1277,0,0,36,1277,639970,assist,NaN
20435637,997,2017,11,1112,1277,0,2,36,1277,639968,made2_jump,NaN
20435638,998,2017,11,1112,1277,0,0,48,1112,637527,foul_pers,NaN
20435639,999,2017,11,1112,1277,0,0,48,1112,637527,turnover,NaN