In [1]:
import sqlite3 as sql
import pandas as pd

In [2]:
conn = sql.connect('ncaa_pbp.db')

In [29]:
args = {'Season': (2011, 2012),
       'PlayerName': ('BAILEY_JAMIL', 'BLAKE_CHRIS')}
args = [key+' IN ' +str(args[key]) for key in args]
where = ' AND '.join(args)

que = """
Select
    PlayerName 
from
    players
WHERE
    {where}



""".format(where=where)
print(que)

df = pd.read_sql(que, conn)

Select
    PlayerName
from
    players
WHERE
    Season IN (2011, 2012)

In [30]:
df

               PlayerName
0            BAILEY_JAMIL
1             BLAKE_CHRIS
2           BOHANNON_ZACH
3         BRAKEVILLE_ADAM
4        BROEKHUIS_TAYLOR
5            BROOKS_DEREK
6         FITZGERALD_MIKE
7           FLETCHER_TODD
8                 FOW_TOM
9              GREEN_KYLE
10          HEMPSEY_SHAWN
11          JERRETT_MYLES
12         KAMMERER_CHASE
13          LYONS_MICHAEL
14         STEWART_TAYLOR
15           STUCKY_SCOTT
16                   TEAM
17        WASHINGTON_EVAN
18             ABREU_ALEX
19             BARDO_MIKE
20      CVETINOVIC_NIKOLA
21           DIGGS_QUINCY
22             EGNER_JOSH
23          EUTON_DAKOTAH
24          GREEN_MICHAEL
25          MARSHALL_ZEKE
26       MCCLANAHAN_BRETT
27         MCKNIGHT_BRETT
28           MCNEES_STEVE
29              OLDHAM_CJ
...                   ...
10437       COTTON_ARMANI
10438        DUREN_JAVIER
10439       GRACE_MICHAEL
10440          KATZ_BRIAN
10441         KELLEY_GREG
10442  KREISBERG_JEREMIAH
10443        MANGANO_GREG
10444          MARTIN_SAM
10445       MORGAN_AUSTIN
10446     PRITCHARD_JESSE
10447      SALAFIA_ISAIAH
10448     SHERROD_BRANDON
10449                TEAM
10450       TOWNSEND_MATT
10451     WILLHITE_REGGIE
10452         ALLEN_BLAKE
10453        AMIKER_SHAWN
10454      BROOKS_DUSHAWN
10455      CHOJNACKI_JOSH
10456             COLE_DJ
10457       EARGLE_DAMIAN
10458     LARSON_FLETCHER
10459        MORGAN_CHRIS
10460      PERRY_KENDRICK
10461          PERRY_NATE
10462       PODOLSKY_MIKE
10463         REESE_DANNY
10464                TEAM
10465          WARD_ASHEN
10466         ZUIKER_CALE

[10467 rows x 1 columns]